- var navItems = [ {'testSlider':'testSlider.html'}]


mixin nav(activePage='Home', classes='nav', items= navItems)
    ul(class= classes)
        each item in items
            li.nav-item
                each href, value in item
                    a.nav-link.link-light.me-3(
                        aria-current='page'
                        href= href
                        class=(value === activePage ? "active" : ''))= value

mixin navbar(clasess='navbar-dark bg-dark')
    nav.navbar(class=`${clasess}`)
        .container-fluid
            if block
                block