
.menu{   
    width: 900px;
    height: 100px;
    display: flex;   
    justify-content: space-around;
    align-items: flex-end;    
    margin-left: 20px;
    border: 1px solid black;
    padding-bottom: 10px;
}


.menu__submit{
    width: 80px;
}

.menu__input-hide{  
   display: none;    
}

input{
    width: 80px;
}

option, select{
    width: 95px;
}

.menu__title-config{
    width: 80px;
}