$SliderWidth: 200px; 


body{    
    width: 1200px;
    padding-left: 20px;
    padding-top: 20px;
}

.slider-test1{   
    width: $SliderWidth;
    height: auto;
    margin-bottom: 100px;
    margin-right: 50px;
}

.slider-test2{      
    width: $SliderWidth;
    height: auto;
    margin-bottom: 20px;
    margin-right: 50px;
}

.slider-test3{     
    width: $SliderWidth;
    height: auto;
    margin-bottom: 20px;
    margin-right: 50px;
}

.slider-test4{      
    width: $SliderWidth;
    height:auto;
    margin-bottom: 20px;
    margin-left: 20px;
}

.slider-title{
    display: flex;
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;    
    margin-bottom: 50px;
    user-select: none;
    touch-action: none;
    margin-bottom: 20px;
}

.slider-dial {
    background-position: 0 0;
    position: relative;
    left: 20px;
    z-index: 0;
    cursor: pointer;
    width: 100%;
    height: 5px;;
    background-color: rgb(214, 212, 212);
    border-radius: 5px;    
    user-select: none;
    touch-action: none;
    margin-bottom: 60px;    
}

.slider-dial__color{
    position: absolute;
    top: 0;
    left: 0;    
    height: 5px;
    background-color: blue;
    border-radius: 5px;    
    user-select: none;
    touch-action: none;
}

.slider-pointer1{
    position: absolute;
    cursor: pointer;
    top: -10px;
    width: 12px;
    height: 25px;
    background-color:  blue;
    border-radius: 35%;
    user-select: none;
    touch-action: none;
    
}

.slider-pointer2{    
    position: absolute;
    cursor: pointer;
    top: -10px;  
    width: 12px;
    height: 25px;  
    background-color:  blue;
    border-radius: 35%;
    user-select: none;
    touch-action: none;
}

.slider-value1{    
    pointer-events: none;
    position: absolute;
    top: -20px;  
    right: 10px; 
    width: auto;
    height: auto;    
    cursor: pointer;   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 450;
    font-size: 10px;
    line-height: 10px;
    text-align: left;
    border-radius: 10px;
    border:blue 1px solid;    
    color:black;  
    padding: 0 4px;
}

.slider-value2{
    pointer-events: none;
    position: absolute;
    top: -20px;
    //left: 5px;
    width: auto;
    cursor: pointer;    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 450;
    font-size: 10px;
    line-height: 10px; 
    border-radius: 10px;
    border:blue 1px solid;    
    color:black;  
    padding: 0 4px;
}

.slider-first-input,
.slider-second-input{
    width: 60px;
    margin-left: 10px;
    margin-bottom: 40px;
    user-select: none;
    touch-action: none;
}

.rotate{
    transform: rotate(270deg);
    margin-top: 100px;
    margin-bottom: $SliderWidth/2 ;   
}

.rotate1{
    transform: rotate(-270deg); 
    top: -30px;      
    right: 5px;        
}

.rotate2{
    transform: rotate(-270deg); 
    top: -30px;  
    right: -5px;     
      
}
