body{
    width: 800px;
}

.slider-wrap{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 500px;
    height: 300px;
}

.slider-title{
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    color: #080e1f;  
    display: flex;

}

.slider-value1{
    width:7%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    padding-top: 20px;
    color: #343844;  
}

.slider-value2{
    width: 7%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    padding-top: 20px;
    color: #343844;  
}

.slider-dial {
    position: relative;
    width: 90%;
    height: 2%;
    background-color: rgb(214, 212, 212);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    user-select: none;
    touch-action: none;
}

.slider-polzunok1{
    position: absolute;
    cursor: pointer;
    top: -200%;

    width: 3%;
    height: 450%;
    background-color: rgb(0, 38, 255);
    border-radius: 50%;
    min-height: 5px;
    user-select: none;
    touch-action: none;
    
}

.slider-polzunok2{
    position: absolute;
    cursor: pointer;
    top: -200%;   
     
    width: 3%;
    height: 450%;
    min-height: 5px;
    background-color: rgb(0, 38, 255);
    border-radius: 50%;
    user-select: none;
    touch-action: none;
}
