body{
    width: 1200px;
}

.slider-wrap{   
    width: 500px;
    height: 100px;
}

.slider-test{   
    width: 300px;
    height: 100px;
}

.slider-test2{   
    width: 1000px;
    height: 100px;
}

.slider-test3{   
    width: 200px;
    height: 400px;
}

.slider-title{
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #080e1f;  
    display: flex;
    margin-bottom: 20px;
    user-select: none;
    touch-action: none;
}

.slider-value1{
    width:auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    padding-right: 2px;
    margin-top: 20px;
    color: #343844;  
}

.slider-value2{
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-align: start;
    text-transform: uppercase;   
    margin-top: 20px;
    color: #343844;  
}

.slider-dial {
    position: relative;
    width: 100%;
    height: 5px;;
    background-color: rgb(214, 212, 212);
    border-radius: 5px;    
    user-select: none;
    touch-action: none;
}

.slider-dial__color{
    position: absolute;
    top: 0;
    left: 0;    
    height: 5px;
    background-color: blue;
    border-radius: 5px;    
    user-select: none;
    touch-action: none;
}

.slider-polzunok1{
    position: absolute;
    cursor: pointer;
    top: -10px;
    width: 10px;
    height: 25px;
    background-color:  blue;
    border-radius: 35%;
       user-select: none;
    touch-action: none;
    
}

.slider-polzunok2{
    position: absolute;
    cursor: pointer;
    top: -10px;  
    width: 10px;
    height: 25px;  
    background-color:  blue;
    border-radius: 35%;
    user-select: none;
    touch-action: none;
}


.rotate{
    transform: rotate(270deg);
    margin-left: 200px;
}


.asd{
    height: 2000px;
}
